<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">

</head>
<body>
    <header>
        <img src="../images/header.png" alt="">
    </header>
    <div class="nav-links">
        <a href="../index.html">Home |</a>
        <a href="course.html">Course |</a>
        <a href="about.html">About |</a>
        <a href="contact.html">Contact |</a>
        <a href="gallery.html">Gallery</a>
    </div>
    <h1 class="about-heading">About Page</h1>
    <p>About page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here.

    </p>
    <h2 about-heading>About Page Subheading
    </h2>
    <p>About page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here. about page contents here.</p>

    <footer>
        <img src="../images/footer.png" alt="">
    </footer>
</body>
</html>